@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Verlag;
  src: url("./assets//fonts//Verlag-Black.otf");
}
html,
body,
:root {
  background-color: #210002;
  font-family: Vergal;
}

/* ::-webkit-scrollbar {
  display: none;
} */
